.features {
    .feature {
        text-align: center;
        position: relative;
        padding: 100px 0;
        span {
            display: block;
            padding-bottom: 15px;
        }
        .title {
            font-family: Raleway;
            font-size: 20px;
            line-height: 50px;
            font-weight: 500;
            color: #3c3c3c;
        }
        .text {
            font-family: PlayfairDisplay;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: #797979;
        }


    }
}